/* SITE_annyelitCalderon */
:root {
  /* Mode 1 */
  /* color */
  --bg-color: #ffffff;
  --card-bg: #f3f3f3;
  --text-color: #280c2d;
}
body.dark{
    --bg-color: #000000;
    --card-bg: #575757;
    --text-color: #e8e8e8;
}
body{
    /*este atributo es para pintar fondo*/
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial ;
}
.contenedor {
    width: 1440px;
    margin: auto;
    box-sizing: border-box;

}
.card {
    width: 20% ;
    margin: 2%;
    float: left;
    height: 300px;
    background-color: var(--card-bg);
 
}
h1{
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
}
#toggle-theme{
    padding:8px 16px;
    border: none;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f77ec0;
    color: #ffffff;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}
#toggle-theme:hover{
    background-color: #ff45ab;
    transform: scale(1.05);
}

@media (max-width: 1024px ) {
    body{
        background-color: rgb(255, 0, 85);
    }
    .contenedor¨¡{
    width: 100% ;
    }
    .card{
        width:100%;
        margin: 20% 0 50px 0;
    }
}